body {
    background-image: url(../static/Fotolia-girl-sunset.jpg);
    background-size: cover;
    position: absolute;
}

.text-block {
    position: absolute;
}

#block-la {
    top: 2vh;
    left: 45vw;
    font-size: 2em;
    font-family: nuestraFont;
    transform: rotate(-10deg) scaleX(1.6) scaleY(1.2);
}

#block-aventura {
    top: -15vh;
    left: 67vw;
    font-size: 8em;
    font-family: aventuraFont;
    color: white;
    transform: rotate(-8deg);
}

#block-apenas {
    top: 28vh;
    left: 55vw;
    font-size: 2.5em;
    font-family: nuestraFont;
    transform: rotate(8deg);
}

#block-comienza {
    top: 35vh;
    left: 52vw;
    font-size: 8em;
    font-family: comienzaFont;
}

@font-face {
    font-family: adventureFont;
    src: url(../static/Eutemia.ttf)
}

@font-face {
    font-family: aventuraFont;
    src: url(../static/vtksDejaVu.ttf)
}

@font-face {
    font-family: comienzaFont;
    src: url(../static/abberancy.ttf)
}

@font-face {
    font-family: nuestraFont;
    src: url(../static/Adequate-ExtraLight.ttf)
}
